.sidebar-section {
  border-bottom: 1px solid #e6ebf1;
  padding-bottom: 15px;
  font-size: 12px;
}

.sidebar-section .section-title {
  line-height: 16px;
  color: #586069;
  font-weight: bold;
  padding-bottom: 8px;
}

.sidebar-section + .sidebar-section {
  padding-top: 15px;
}

.sidebar-section button {
  margin: 4px 0;
  background: none;
  border: 1px solid #AAA;
  outline: none;
  font-size: 12px;
  border-radius: 8px;
}
.sidebar-section button:hover {
  background: #F5F5F5;
}
.sidebar-section button:active {
  background: #EAEAEA;
}
